<section class="section weekly-schedule-view">

    <header class="section-header">
            
        <span ng-bind="header"></span>
        <span ng-if="!showNav">
            <loader visible="loading"></loader>
        </span>

    </header>

    <section ng-if="showNav" class="week-picker row">

        <button ng-click="getPrevWeek()" class="btn">
            <span class="fa fa-angle-left"></span>
        </button>

        <span 
            ng-if="!loading"
            ng-bind="title"
            class="text">
        </span>

        <loader class="text" visible="loading"></loader>

        <button ng-click="getNextWeek()" class="btn">
            <span class="fa fa-angle-right"></span>
        </button>
    </section>

    <section class="weekly-schedule">

        <div
            class="week-day"
            ng-repeat="day in days" 
            ng-class="{ today: day.isToday }">


            <div class="hours">

                <div 
                    ng-repeat="hour in hours"
                    ng-bind="hour.text"
                    class="hour"></div>
            </div>

            <div class="details">

                <div 
                    class="title" 
                    ng-bind="day.title"></div>

                <ul class="schedule">
                    <li ng-repeat="block in day.blocks" class="schedule-block">
                        
                        <div ng-repeat="col in block.cols" class="block-col">

                            <div
                                ng-repeat="item in col.items" 
                                ng-style="item.style"
                                ng-attr-type="{{item.type}}"
                                class="block-item">

                                <span ng-bind="item.title"></span>

                                <div class="hover-box bottom dark">
                                    <div class="arrow"></div>
                                    <div class="content" ng-bind="item.range"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>