<div class="controller-view login-view">
	<image-collection images="imageList"></image-collection>
	
	<section class="section login-section">
		<header class="section-header">Forgot Password</header>

		<section class="pane login-pane">
			<header class="pane-header row">
				<a 
					ng-click="register()"
					class="link">
					<span>New Ninja?</span>
				</a>
				<div class="logo circle">
					<span class="word">
						<span class="letter">N</span>
						<span class="remaining"><span>inja</span></span>
					</span>
					<span class="word">
						<span class="letter">F</span>
						<span class="remaining"><span>it</span></span>
					</span>
					<span class="word">
						<span class="letter">G</span>
						<span class="remaining"><span>ym</span></span>
					</span>
				</div>
				<a 
					ng-click="goToLogin()"
					class="link">
					<span>Back to Login?</span>
				</a>
			</header>

			<label class="input-item">
				<p class="input-label">Username</p>

				<div class="row">
					<popover show="model.props.userName.invalid" msg="model.errMsg">
						<input 
							type="text" 
							ng-model="model.props.userName.value"
							ng-keydown="keydown($event)" />
					</popover>
				</div>
			</label>

			<div 
				ng-if="msg.text"
				ng-bind="msg.text"
				class="alert"
				ng-class="{ danger: msg.isError, success: !msg.isError }">
			</div>

			<footer class="pane-footer">
				<div class="loader" ng-if="sending">
					<span class="fa fa-spinner fa-spin"></span>
				</div>

				<button class="btn inverse" ng-click="send()">
					<span>Send</span>
				</button>
			</footer>
		</section>
	</section>
</div>